<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空調管理要求システム</title>
</head>
<body>
    <h1>教室選択</h1>

    <form th:action="@{/search/} + ${uid}" method="get">
        <table>
            <tr>
                <td><label>ID: </label></td>
                <td>授業IDを入力してください</td>
                <td><input type="text" required name="cid" id="cid"/></td>
            </tr>
        </table>
        <p><input type="submit" value="選択" /></p>
    </form>
</body>
</html>