<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空調管理要求システム</title>
</head>
<body>
    <h1>投票しました</h1>

    <style>
        .button{
            border: 1px solid #999;
            background: #abb8e6;
        }
    </style>
    <a th:href=@{/vote/__${uid}__/__${cid}__} class="button">戻る</a>
</body>
</html>